# folders
0
1
2
3
4
5
6
7
8
9
a
b
c
d
e
f

__pycache__/
*.npy
*.py[cod]
*.ipynb
*$py.class
*.exe
*.apk
*.db
sha256*
json.txt
DATA
kefan_script
az_zip
az_unzip
todo.txt
test*
*.swo

# temp
*.bak
*.tmp
*.swp
.DS_Store
temp*
samples
smj
smjtest
dianwang
informationOfSamples
bhy
nkrepo
nkrepo_2021
*sha256.txt
jianwen
chengkai
*.rar

# web
web1
old_web
match_result.txt
scan_result.csv
info.csv

# yara 
yararules

# nkvt
json
json_files
log
keys.txt

#yara
file_type.jar
network
mal_trainset
yararules
norm_trainset

# pic
*.graffle

# scan
*log.txt
*result.txt

# nkvs
resume
torrents
DATA
transmission.log
url_list.txt
html.txt
html_.txt
stats.json
url_list.txt

# nkaz
latest*
nohup.out

# nkvt
keys.txt
