# folders
0
1
2
3
4
5
6
7
8
9
a
b
c
d
e
f

__pycache__/
*.npy
*.py[cod]
*.ipynb
*$py.class
*.exe
*.apk
*.db
sha256.txt
json.txt

# temp
*.bak
*.tmp
*.swp
.DS_Store
temp
samples

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/
