# 开发环境配置
ENV = 'development'

# 基础API地址 - 请替换为你的后端 API 地址
VITE_APP_BASE_API = 'http://127.0.0.1:5005'

# 生产环境配置
ENV = 'production'

# 基础API地址 - 请替换为你的生产环境后端 API 地址
VITE_APP_BASE_API = 'http://127.0.0.1:5005'

# 测试环境配置
ENV = 'staging'

# 基础API地址 - 请替换为你的测试环境后端 API 地址
VITE_APP_BASE_API = 'http://127.0.0.1:5005'
