<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>恶意代码样本查询</title>
    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">-->
    <link rel="shortcut icon" href="../static/shield-check.svg" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for form -->
    <link href="{{url_for('static', filename='css/form-validation.css')}}" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
	    <img class="d-block mx-auto mb-4 animated-gif" src="{{url_for('static', filename='protect.gif')}}" alt="" width="72" height="72">
        <h2 class="text-primary">恶意代码样本查询</h2>
	<p class="text-muted text-secondary">恶意代码样本查询支持基于样本<b>哈希值</b>的快速查询、样本创建<b>时间</b>查询、恶意代码<b>家族</b>信息查询、恶意代码<b>类型</b>信息查询、恶意代码<b>特征点</b>查询、杀毒软件检测<b>结果</b>查询，<b>yara</b>规则查询，以及多种查询条件的<b>综合</b>样本查询。
    </div>

    <!-- SHA256搜索框 -->
    <h4 class="mb-3 text-secondary" >基于SHA256值查询样本</h4>
    <form action="{{url_for('search_sha256')}}", method="POST" role="form" class="form-horizontal">
    <div class="input-group form-group">
        <input type="search" class="form-control rounded" placeholder="SHA256查询" aria-label="Search"
        aria-describedby="search-addon", name='sha256' />
	<!-- 搜索按件 -->
        <button type="submit" class="btn btn-outline-primary" name="search-sha256">
	    <!-- 嵌入搜索图标 -->
	    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
	        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
	    </svg>
	    SHA256查询
	</button>
    </div>
    </form>

    <!-- MD5搜索框 -->
    <h4 class="mb-3 text-secondary">基于MD5值查询样本</h4>
    <form action="{{url_for('search_md5')}}", method="POST" role="form" class="form-horizontal">
    <div class="input-group form-group">
        <input type="search" class="form-control rounded" placeholder="MD5查询" aria-label="Search"
        aria-describedby="search-addon", name='md5' />
	<!-- 搜索按件 -->
        <button type="submit" class="btn btn-outline-primary" name="search-sha256">
	    <!-- 嵌入搜索图标 -->
	    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
	        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
	    </svg>
            MD5查询
	</button>
    </div>
    </form>


    <!-- 综合搜索框 -->
    <h4 class="mb-3 text-secondary">恶意代码样本综合查询</h4>
    <form action="{{url_for('search_all')}}", method="POST" role="form" class="form-horizontal">
    <!-- 第一行 -->
    <div class="row">
	<!-- 1. 计算机病毒感染平台 -->
        <div class="col-md-6 mb-3">
            <label for="platform" class="mb-3">
		<!-- 添加图标 -->
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"></path>
		</svg>
                计算机病毒感染平台
	    </label>
            <input type="text" class="form-control" id="platform" placeholder="Any" value="Any" required="" name="platform">
            <div class="invalid-feedback">
                需要提供有效的感染平台信息，或者输入Any
            </div>
        </div>

	<!-- 2. 计算机病毒类型 -->
        <div class="col-md-6 mb-3">
            <label for="category">
		<!-- 添加图标 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-2" viewBox="0 0 16 16">
                    <path d="M7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586a1 1 0 0 0-2 0zM13.5 3l.75 1-.75 1H2V3h11.5zm.5 5v2H2.5l-.75-1 .75-1H14z"></path>
		</svg>
                计算机病毒类型
	    </label>
            <input type="text" class="form-control" id="category" placeholder="Any" value="Any" required="" name="category">
            <div class="invalid-feedback">
                需要提供有效的病毒类型信息，或者输入Any
            </div>
        </div>
    </div>

    <!-- 第二行 -->
    <div class="row">
	<!-- 3. 病毒家族 -->
        <div class="col-md-6 mb-3">
            <label for="platform">
		<!-- 添加图标 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"></path>
		</svg>
                计算机病毒家族
	    </label>
            <input type="text" class="form-control" id="family" placeholder="Any" value="Any" required="" name="family">
            <div class="invalid-feedback">
                需要提供有效的病毒家族信息，或者输入Any
            </div>
        </div>

	<!-- 4. 杀毒软件检测结果 -->
        <div class="col-md-6 mb-3">
            <label for="category">
		<!-- 添加图标 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                    <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"></path>
                </svg>
                杀毒软件检测结果
	    </label>
            <input type="text" class="form-control" id="result" placeholder="Any" value="Any" required="" name="scan_result">
            <div class="invalid-feedback">
                需要提供有效的杀毒软件检测结果，或者输入Any
            </div>
        </div>
    </div>

    <!-- 第三行 -->
    <div class="row">
        <!-- 5. 样本发现时间 -->
        <div class="col-md-6 mb-3">
            <label for="platform">
		<!-- 添加图标 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
	            <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"></path>
	            <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"></path>
                </svg>
		样本发现时间
	    </label>
	    <select class="custom-select d-block w-100" id="year" required="" name="year">
                <option value="">Choose...</option>
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
            </select>
            <div class="invalid-feedback">
                需要提供有效的病毒发现时间
            </div>
        </div>

	<!-- 6. 样本特征点 -->
        <div class="col-md-6 mb-3">
            <label for="category">
		<!-- 添加图标 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
	        <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"></path>
	        <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"></path>
                </svg>
                样本特征点
	    </label>
            <input type="text" class="form-control" id="feature" placeholder="Any" value="Any" required="" name="feature">
            <div class="invalid-feedback">
                需要提供病毒特征点，或者输入Any
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block">样本查询</button>

    </form>


</div>

{#<footer class="page-footer font-small blue pt-4">#}
{#    <!-- Copyright -->#}
{#    <div class="footer-copyright text-center py-3">© 2021 Copyright:#}
{#        <a href="http://159.226.223.210:5000/">NKAMG</a>#}
{#    </div>#}
{#    <!-- Copyright -->#}
{#</footer>#}
<!--页脚-->
<div id="footerpage"></div>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        console.log("ini");
        /*加载公共头和公共页脚*/
        $.get("/search_all", function(data){
            $("#footerpage").html(data)
        });
        //$("#footerpage").load("/footer.html");

    });
</script>
</body>

</html>
