<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static', filename='detail.css')}}"  rel="stylesheet",type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <style>
        .first {
            float: left;
            width: 150%;
            height: 200px;
            border: 1px solid #3B6273;
        }
        .second {
            float:left;
            width: 150%;
            height: 200px;
            border: 1px solid #3B6273;
        }
    </style>
    <title>文件详情</title>
</head>
<body>
<div class="row",class="first">
    <div class="col-md-12 col-sm-30 col-xs-30">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style='font-size:35px;text-align:center'>{{ title }}</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <tbody style='font-size:35px;text-align:center'>	
                        {% for i in labels %}
                           <table class="mailTable"  cellspacing="0" cellpadding="0">
                          
                           <tr>
                           <td class="column">{{ labels[labels.index(i)] }}</td>
                           <td>{{contents[labels.index(i)]}}</td>
                           </tr>
                         {% endfor %} 
                       </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row",class="second">
    <div class="col-md-12 col-sm-30 col-xs-30">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style='font-size:35px;text-align:center'>{{stitle}}</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <tbody style='font-size:35px;text-align:center'>
                        {% for i in slabels %}
                           <table class="mailTable"  cellspacing="0" cellpadding="0">

                           <tr>
                           <td class="column">{{ slabels[slabels.index(i)] }}</td>
                           {% for j in scontents %}
                              <td>{{scontents[scontents.index(j)][slabels.index(i)]}}</td>
                           {% endfor %}
                           </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row",class="third">
    <div class="col-md-12 col-sm-30 col-xs-30">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style='font-size:35px;text-align:center'>{{atitle}}</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <tbody style='font-size:35px;text-align:center'>
                        {% for i in alabels %}
                           <table class="mailTable"  cellspacing="0" cellpadding="0">

                           <tr>
                           <td class="column">{{ alabels[alabels.index(i)] }}</td>
                           <td>{{acontents[alabels.index(i)]}}</td>
                           </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row",class="forth">
    <div class="col-md-12 col-sm-30 col-xs-30">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style='font-size:35px;text-align:center'>{{ititle}}</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <tbody style='font-size:35px;text-align:center'>
                        {% for i in ilabels %}
                           <table class="mailTable"  cellspacing="0" cellpadding="0">

                           <tr>
                           <td class="column">{{ ilabels[ilabels.index(i)] }}</td>
                           <td>{{icontents[ilabels.index(i)]}}</td>
                           <td>{{icontents_[ilabels.index(i)]}}</td>
                           </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row",class="forth">
    <div class="col-md-12 col-sm-30 col-xs-30">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style='font-size:35px;text-align:center'>{{etitle}}</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <tbody style='font-size:35px;text-align:center'>
                        {% for i in elabels %}
                           <table class="mailTable"  cellspacing="0" cellpadding="0">

                           <tr>
                           <td class="column">{{ elabels[elabels.index(i)] }}</td>
                           <td>{{econtents[elabels.index(i)]}}</td>
                           </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
