*{
    margin: 0;
    padding: 0;
}
html{
    width: 100vw;
    height: 100vh;
    background-image: url("../../static/bgc.jpg");
    background-size: cover;
}

/* 提示信息 */
.info{
    width: 220px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: rgba(255, 0, 0, 0.3);
    user-select: none;
}
.v-enter,
.v-leave-to{
    opacity: 0;
    top: -20px;
}
.v-enter-active,
.v-leave-active{
    transition: all 0.4s ease-in-out;
}
[cloak]{
    display: none;
}


/* 中间搜索框 */
.searchBox{
    width: 60%;
    min-width: 400px;
    height: 30vh;
    margin: 10vh auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clock{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monoton";
}
.clock > p{
    user-select: none;
}

.inputBox{
    width: 60%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 15px;
    border-radius: 20px;
}
.inputBox > input{
    background: none;
    border: none;
    outline: none;
    padding: 0 10px 0 0;
    flex: 1;
    height: 44px;
    color: #242323;
    font-size: 16px;
}
.inputBox > input::placeholder{
    color: #242323;
    font-size: 16px;
}
.inputBox > img{
    width: 1.3rem;
    height: 1.3rem;
}
.inputBox > img:hover{
    cursor: pointer;
}
