
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-2 mb-2">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" onclick="navigateToPage1()">基于可信度评估的多模型恶意代码检测系统</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" onclick="navigateToPage4()">VS扫描</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" onclick="navigateToPage5()">恶意域名统计</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" onclick="navigateToPage6()">恶意样本统计</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Copyright: 南开大学反病毒实验室 (NKAMG)</p>
  </footer>
    <script>  
      function navigateToPage4() {  
        window.location.href = "vsscan";   
      }  
    </script>
    <script>  
      function navigateToPage1() {  
        window.location.href = "/";   
      }  
    </script>
      <script>  
        function navigateToPage5() {  
          window.location.href = "/statistics_url";   
        }  
      </script>
      <script>  
        function navigateToPage6() {  
          window.location.href = "/statistics_file";   
        }  
      </script>